certifi==2017.7.27.1
chardet==3.0.4
click==6.7
falcon==1.2.0
Flask==0.12.2
gunicorn==19.7.1
hug==2.3.1
idna==2.6
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
numpy==1.13.1
pandas==0.20.3
python-dateutil==2.6.1
python-mimeparse==1.6.0
pytz==2017.2
requests==2.18.4
scikit-learn==0.19.0
scipy==0.19.1
six==1.10.0
urllib3==1.22
Werkzeug==0.12.2
